{{>layout/header}}

    <h1>스프링 부트로 시작하는 웹 서비스 Ver.3</h1>
    <div class="col-md-12">
        <!-- 로그인 기능 영력 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록하러 가기</a>
                {{#name}} <!-- name이 존재하는 경우 -->
                    Logged in as : <span id="user">{{name}}</span>
                <a href="/logout" role="button" class="btn btn-info active">Logout</a>
                {{/name}}
                {{^name}} <!-- name이 존재하지 않는 경우 -->
                    <a href="/oauth2/authorization/google" role="button" class="btn btn-success active">
                        Google Login</a>
                    <a href="/oauth2/authorization/naver" role="button" class="btn btn-secondary active">
                        Naver Login</a>
                {{/name}}
            </div>
        </div>
    <br>
    <!-- 목록 출력 영력 -->
    <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}} <!-- posts라는 List를 순회 : for 구문과 동일 -->
                <tr>
                    <td>{{id}}</td> <!-- 이중 중괄호 + 변수명 : List에서 뽑아낸 객체의 필드를 사용 -->
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td> <!-- 타이틀을 클릭하면 해당 게시글의 수정화면으로 이동 -->
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
    </table>
    </div>

    <div class="utterances comments">
    <!-- utterances 댓글 기능 추가 -->
    <script src="https://utteranc.es/client.js"
            repo="SuhHyeonjun/comments-repo"
            issue-term="pathname"
            label="comments"
            theme="boxy-light"
            crossorigin="anonymous"
            async>
    </script>
    </div>

{{>layout/footer}}